<main *ngIf="!isFormAjout">
    <p>Liste des devoirs : {{titre}}</p>
    <br>

    <button mat-stroked-button color="primary" (click)="activerFormAjout()">
        Ajouter Assignment
    </button>
    <br>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
        <td mat-cell *matCellDef="let element"> {{element.dateDeRendu | date }} </td>
        </ng-container>
    
        <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element)}"> {{element.rendu}} </td>
        </ng-container>

        <ng-container matColumnDef="voir">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="assignmentClic(element)">Voir detail</button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="titreTable"></tr>
        <tr mat-row *matRowDef="let row; columns: titreTable;"></tr>
    </table>

    <br>

    <h2>Detail</h2>
    <app-assignment-detail [assignmentTransmis]="assignementClicker"></app-assignment-detail>
</main>
<app-add-assignment *ngIf="isFormAjout" (newAssignment)="ajoutAssignment($event)"></app-add-assignment>



<!-- <table border="1px">
    <tbody>
        <tr>
            <th>Libellé</th>
            <th>Date de rendu</th>
            <th>Status</th>
        </tr>
        @for (a of assignments;track a.nom){
            @if(a.rendu){
                <tr>
                    <td>{{a.nom}}</td>
                    <td>{{a.dateDeRendu | date}}</td>
                    <td appRendu>RENDU</td>
                    <td appDetail><button mat-raised-button color="primary">Voir detail</button></td>
                </tr>
            }@else{
                <tr>
                    <td>{{a.nom}}</td>
                    <td>{{a.dateDeRendu | date}}</td>
                    <td [ngStyle]="{'color': getColor(a)}">NON RENDU !!</td>
                    <td appDetail><button mat-raised-button color="primary">Voir detail</button></td>
                </tr>
            }
        }
    </tbody>
</table> -->